%h1
  .page-header
    Tasks
    = link_to 'New Task', new_project_task_path(@project), class: "btn btn-info pull-right"


%table.table
  %thead
    %tr
      %th{:colspan => "1"}
        %strong Description
      %th{:colspan => "2"}
        %strong Due Date

  %tbody
    -@tasks.each do |task|
      %tr
        %td.col-md-2
          -if task.complete
            %s= link_to task.description, task_path(task)
          -else
            = link_to task.description, task_path(task)

        %td.col-md-2
          -if task.due_date
            =task.due_date.strftime("%m/%d/%Y")
          -else

        %td.text-right
          =link_to 'Edit', edit_task_path(task), class: "btn btn-info"
          =link_to 'Delete', task_path(task), method: "delete", class: "btn btn-danger", data: {confirm: "Are you sure you want to delete this task?"}
