<h1>
  <div class="page-header">
    <%= link_to 'New Task', new_task_path(@task), class: "btn btn-info pull-right" %>
    Tasks
  </div>
</h1>


<table class="table">
  <thead>
    <div class="row">
      <div class="col-md-2">
        <strong>Description</strong>
      </div>
    </div>
  </thead>
  <hr>
  <tbody>
    <% @tasks.each do |task| %>
      <%= link_to task.description, task_path(task) %>
        <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info pull-right" %>
        <%= link_to 'Delete', task_path(task), method: "delete", class: "btn btn-danger pull-right" %>
      <hr>
    <% end %>
  </tbody>

</table>
