<h1>
  <div class="page-header">
    <%= link_to 'New Task', new_task_path(@task), class: "btn btn-info pull-right" %>
    Tasks
  </div>
</h1>



<table class="table">

  <thead>
    <tr>
        <th colspan= 2>
          <strong>Description</strong>
        </th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.description, task_path(task) %></td>
          <td class = "text-right">
            <%= link_to 'Edit', edit_task_path(task), class: "btn btn-info" %>
            <%= link_to 'Delete', task_path(task), method: "delete", class: "btn btn-danger" %>
          </td>
    <% end %>
    </tr>
  </tbody>

</table>
