<h1>
  <div class="page-header">
    <%= @task.description %>
    <%= link_to 'Edit', edit_task_path(@task), class: "btn btn-info pull-right" %>
  </div>
</h1>


<br>



<ol class= "breadcrumb"
  <li><%= link_to 'Tasks', tasks_path(@tasks) %></li> > <li class= "active"><%= @task.description %></li>
</ol>
