.jumbotron
  %h1 gCamp
  %p Your life, organized.

.row
  .column.column-three
    %p.lead
      =image_tag("writing_tablet.jpg", class: "img-responsive")
    .panel.panel-primary
      .panel-heading
        Tasks
      .panel-body
        Grouped by projects and lists. Just the way you like'em

  .column.column-three
    %p.lead
      =image_tag("writing_paper.jpg", class:"img-responsive")
    .panel.panel-primary
      .panel-heading
        Permissions
      .panel-body
        Fine-grained permissions

  .column.column-three
    %p.lead
      =image_tag("looking_at_computer.jpg", class:"img-responsive")
    .panel.panel-primary
      .panel-heading
        Comments
      .panel-body
        %ul
          %li Comments on tasks and documents
          %li Get email notifications


-@quotes.each do |key, value|
  %p= value
  %p.text-muted
    %em
      \-
      =key
