%h1
  .page-header
    = link_to 'New Project', new_project_path(@project), class: "btn btn-info pull-right"
    Projects
%table.table
  %thead
    %tr
      %th{:colspan => "1"}
        Name
      %th{:colspan => "1"}
        Tasks
  %tbody
    - current_user.projects.each do |project|
      %tr
        %td.col-md-4
          = link_to project.name, project_path(project)
        %td.col-md-2
          = link_to project.tasks.count, project_tasks_path(project, @task)
