<h1>
  <div class="page-header">
    <%= link_to 'New Project', new_project_path(@project), class: "btn btn-info pull-right" %>
    Projects
  </div>
</h1>

<table class= "table">
  <thead>
    <tr>
      <th colspan= "1">
        Name
      </th>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td class="col-md-4">
          <%= link_to project.name, project_path(project) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
