%h1
  .page-header
    = @project.name
    .pull-right
      = link_to "Edit", edit_project_path(@project), class: "btn btn-info"
      = link_to "Delete", project_path(@project), class: "btn btn-danger", method: :delete, data: {confirm: "Delete this project?"}
